doctype html
html
    head
        title 회원가입
        link(rel="stylesheet" href="/signup.css")
    body
        h1 회원가입
        form(action="/signup" method="POST")
            label(for="id") 아이디
            input#id(type="text" name="id" required)
            br
            label(for="password") 비밀번호
            input#password(type="password" name="password" required)
            br
            label(for="name") 이름
            input#name(type="text" name="name" required)
            br
            button(type="submit") 회원가입
        a(href="/login") 로그인으로 돌아가기
