doctype html
html
    head
        title 사진 업로드 및 확인
        link(rel="stylesheet" href="uploadPicture.css") // CSS 추가
    body
        h1 사진 업로드
        form(action="/uploadPicture" method="POST" enctype="multipart/form-data")
            input(type="file" name="image" accept="image/*" required)
            button(type="submit") 업로드
        br
        h2 업로드된 사진
        if images.length > 0
            ul
                each image in images
                    li
                        img(src=`/uploads/${image}` alt="업로드된 이미지")
        else
            p 업로드된 사진이 없습니다.
        a(href="/") 메인 페이지로 돌아가기
